.ltr-body #logo,
.ltr-body #top-link a,
.ltr-body #top-header .line,
.ltr-body #top-link #top-nav > li > ul > li,
.ltr-body #home-tab #tab-list ul,
.ltr-body #home-tab #tab-list li {
    float: left;
}

.ltr-body .sec-left {
    float: right;
}

.ltr-body .lng {
    float: right;
    margin-left: 40px;
    margin-right: 0;
}

.ltr-body #top-link {
    float: left;
    margin: 23px 0px 0 20px;
}

.ltr-body #top-link #top-nav > li > ul > li:first-child > a {
    padding-right: 14px;
    padding-left: 0;
}

.ltr-body #home-tab #tab-list li:after {
    left: 0;
    right: unset;
}

.ltr-body #footer .row > div {
    float: left !important;
}

.ltr-body #footer .bg:before {
    left: unset;
    right: 100%;
}

.ltr-body #footer .bg {
    padding: 15px 15px 15px 0px;
    border-radius: 0 28px 0 0;
    -webkit-border-radius: 0px 28px 0 0;
}

.ltr-body #footer .txt p {
    text-align: left;
    direction: ltr;
}

.ltr-body #footer .img-footer {
    float: right;
}

.ltr-body #footer .btm {
    text-align: left;
    direction: ltr;
}

.ltr-body #cnt-footer p i {
    float: left;
    margin: -4px 6px 0 0px;
}

.ltr-body #footer-link li a:before {
    float: left;
    margin: 3px 5px 0 0;
}

.ltr-body #footer .txt {
    text-align: left;
    direction: ltr;
}

.ltr-body #detail-product img {
    left: unset;
    right: -65px;
}

.ltr-body #top-slider .item .det{
    right: unset;
    left: 150px;
}

.ltr-body #top-slider .owl-dots{
    right: 100px !important;
    left: unset !important;
}

.ltr-body .tab-det li {
    float: left;
}

.ltr-body .tab-det li a {
    margin-left: 0;
    margin-right: 50px;
}

/* .ltr-body .owl-carousel.owl-rtl {
    direction: ltr;
} */

.ltr-body .tab-det .item-tab {
    margin-top: 50px;
}

.ltr-body .container-fluid,
.ltr-body .container {
    direction: ltr;
    text-align: left;
}

/* News */
.ltr-body .item-news a.img {
    float: left;
}

.ltr-body .item-news .txt {
    padding-left: 130px;
}

.ltr-body .item-news .txt .more {
    float: right;
    direction: rtl;
}

.ltr-body #news-detail .hitcount{
    text-align: left;
}

.ltr-body #news-detail .count-time .hitcount:before,
.ltr-body #news-detail .count-time .dateadd:before{
    float: left;
    margin-right: 4px;
    margin-left: 0;
}


/* Faq */
.ltr-body #f-q .item a i{
    float: right;
}

.ltr-body #f-q .item a{
    direction: ltr;
}

/* Packages */
.ltr-body #side-left{
    float: left !important;
}

.ltr-body #product-items .list-product .price{
    float: left;
    direction: ltr;
}

.ltr-body #product-items .list-product .btm a{
    float:right;
}

.ltr-body #detail-product .bg > h2{
    text-align: left;
    direction: ltr;
}

.ltr-body .owl-item .item{
    text-align: left;
    direction: ltr;
}

/* Employments */
.ltr-body #emp-form{
    float: left !important;
}

.ltr-body #captcha-input{
    margin-left: 40%;
}

@media (min-width: 992px) {
    .ltr-body .navContent > ul > li {
        float: left;
    }
    .ltr-body .navContent .title a {
        direction: ltr;
        text-align: left;
    }
    .ltr-body .navContent > ul > li ul {
        float: left;
        direction: ltr;
        text-align: left;
    }
    .ltr-body #home-item .item{
        float: left !important;
    }
}

@media (min-width: 991.98px){
    .ltr-body .form-horizontal .control-label{
        text-align: left;
    }
    
    .ltr-body .form-dynamic.form-horizontal .col-sm-9.col-md-8{
        float: left !important;
    }
    
    .ltr-body .form-dynamic.form-horizontal .control-label{
        float: left !important;
    }
}